<form method="get" action="/quizes">
  Búsqueda de preguntas:  <p>
  <input type="text" name="search" value=""/>
  <input type="submit" value="" class="btnSeek"/>
</form>
<div align = "center">
  <table>
     <%   var i; for (i=0; i< quizes.length; i++){ %>
         <tr>
	    <td colspan="3"><a href="quizes/<%= quizes[i].id %>">
		<%= quizes[i].pregunta %></a></td>
	    <td><%= quizes[i].tema %></td>
	  <%if(session.user){%>
	    <td><a href="quizes/<%= quizes[i].id %>/edit">
		<button class="btnEdit"></button></a>
	   
	    <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
		 <button type:"submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');" class="btnDel"></button>
		</form>
	    </td>
	  <%}%>
        </tr>
     <% } %>
     <% if (quizes.length === 0){ %>
        <tr><td colspan="5">No se ha encontrado ninguna coincidencia</td></tr>	
     <% } %>
<tr><td></td><td></td><td></td><td></td><td></td></tr>
</table>
<%if(session.user){%>
   <a href="/quizes/new"><button type="button">Crear pregunta</button></a>
<%}%>
</div>


